<link rel="stylesheet" href="/css/error/error.css">
<div class="error-container">
  <div class="noselect error-code">404</div>
  <div class="noselect error-message">Página não encontrada!</div>
  <a class="btn btn-primary" href="/" role="button">Voltar para Home</a>
</div>
