<link rel="stylesheet" href="/css/forgot-password.css" />
<div class="container">
  <div class="card form-container">
    <div class="logo-container">
      <img src="/assets/logo.svg" alt="Logotipo" class="logo">
    </div>
    <div class="card-body">
      ATENÇÃO! A senha deve conter:
      <ul>
        <li>8 caracteres</li>
        <li>ao menos 1 numero</li>
        <li>ao menos 1 caractere especial</li>
      </ul>
      <form id="change-password-form" action="/password/password-change" method="POST">
        <input id="hash" name="hash" type="hidden">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" id="email" class="form-control" value="mauricio.hartmann@outlook.com" required />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" name="password" id="password" class="form-control" value="123456"
            required />
        </div>
        <div class="mb-3">
          <label for="password-confirm" class="form-label">Repita a senha</label>
          <input type="password" name="passwordConfirm" id="password-confirm" class="form-control"
            value="123456" required />
        </div>
        <div class="d-flex flex-row-reverse">
          <div>
            <button class="btn btn-primary">Redefinir senha</button>
          </div>
        </div>
      </form>
      {{#if error}}
      <div class="alert alert-danger d-flex justify-content-center" role="alert">
        {{error.message}}
      </div>
      {{/if}}
    </div>
  </div>
</div>
<script src="/js/change-password.js"></script>
