{{> navbar}}
<link rel="stylesheet" href="/css/home.css">
<div class="container container-app">
  <div class="card">
    <div class="card-body menu-container">
      <a href="/company" class="menu-item-link">
        <div class="menu-item-container">
          <i class="fas fa-building menu-item-icon"></i>
          <div class="menu-item-label">Companhias</div>
        </div>
      </a>
      <a href="/user" class="menu-item-link">
        <div class="menu-item-container">
          <i class="fas fa-users menu-item-icon"></i>
          <div class="menu-item-label">Usuários</div>
        </div>
      </a>
    </div>
  </div>
</div>
