<link rel="stylesheet" href="/css/navbar/navbar.css">
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar full-width">
      <div class="home-link">
        <a aria-current="page" href="/">
          <div><i class="fas fa-home"></i>Início</div>
        </a>
      </div>
      <div class="title">e-Max ERP</div>
      <button id="logout-btn" type="button" class="btn btn-link btn-lg logout-btn" data-bs-toggle="modal"
        data-bs-target="#logout-modal">
        <i class="fas fa-power-off"></i>
      </button>
    </div>
  </div>
</nav>
{{> logout-modal}}
<script src="/js/navbar/navbar.js"></script>
